body{
    font: normal 18pt 'arial';
    background-color: #007db8;
    color: rgb(255, 255, 255);
    text-align: center;
}
.container{
    max-width: 1000px;
    box-shadow: 1px 1px 10px rgba(9, 2, 41, 0.486);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 25px;
    background-color: white;
    color: black;
    text-align: left;
    font-size: 15pt;
}
footer{
    font-style: italic;
    font-size: 13pt;
    margin-top: 20px;
    padding-bottom: 20px;
}
header{
    
    font-size: 22pt;
    margin-top: 20px;
    padding-bottom: 20px;
}
.just-azul{
    color: #007db8;
    text-indent: 30px;
    text-align: justify;
    
}
.just-preto{
    color: #000000;
    text-indent: 30px;
    text-align: justify;
    
}