body{
    background-color: rgb(106, 106, 212);
    font-size: 15pt;
    font-family: 'Arial';
}
header{
    color: white;
    text-align: center;

}
section{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
    


}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15px;
   
}
div{
    text-align: center;
    padding: 10px;
}
img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
    border-radius: 250px;
    border: 10px solid rgb(255, 255, 255);
}
h1{
    font-family: 'calibri';
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.274);

}